$color-white = #ffffff
$main-color = #0DA4F0
$color-green = #cfe4ce
$color-yellow = #fff3c0


$rankings_item-table-width-large = 830px
$rankings_item-table-width = 720px
$rankings_item-table-tab-width = 560px
$rankings_item-table-mob-width = 270px

$ultraThin()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale
