include ./table-data

.section.section--table.section--g-table
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports

    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | The Worst States and Companies for Invalid Debt Collection Activities

    .breadcrumbs__item
      | Full State Ranking

  h2.section__title.section__title--table
    | Full State Ranking

  p.section__under-title
    | Full ranking and complete data for all fifty states based

  .tables-container
    .mobile-only
      table.ranking-table.ranking-table--fixed
        thead
          tr
            th Rank
            th State

        tbody
          each value in values
            tr
              td
                = value.description
              td
                span.rate-block
                  = value.finalRank

    .ranking-table__wrapper
      table.ranking-table.ranking-table--data
        thead
          tr
            th State
            th Final Rank
            th Per Capita Tax
            th Expenditures Per Capita
            th Government Spending
              span.reg.reg--white *

            th Rank Taxes % of Revenue
            th Taxes % Of Revenue

        tbody
          each value in values
            tr
              td
                = value.description

              td
                span.rate-block
                  = value.finalRank

              td
                = value.perCapitaTax

              td
                = value.expenditures

              td
                = value.govermentSpending

              td
                = value.rankTaxes

              td
                = value.taxesOfRevenue

  p.main-text.main-text--italic
    span.reg *
    | Government Spending in Excess of Revenue (Per Capita) as % of Average Statewide Per Capita Income (Value Used for Final Ranking)

  .btn-container.btn-container--under-table
    a.btn-go-back(href="index.html")
      | GO BACK TO THE FULL REPORT
