h2.section__title Methodology
.methodology__content
  img.methodology__img(src='images/svg/methodology-icon.svg')
  .methodology__text
    p.methodology__text-item
      | RewardExpert used data from the US Census Bureau’s Survey of State and Local Government Finances to calculate the sum total of all expenditures that benefits individual taxpayers, accounting for non-tax fees and charges, and calculated per capita government spending. We then calculated the value of residents’ tax dollars as the difference between per capita spending and per capita tax revenues collected, excluding corporate income taxes. Based on the results, ranked the fifty states (excluding the District of Columbia) according to the amount by which government spending exceeded (or, in one case, fell short of) taxes collected on a per capita basis.

.methodology__sources.methodology__sources--indicators
  h3.methodology__sources-title
    | Indicators & Scoring:

  ul.methodology__sources-list
    li.methodology__sources-list-item
      | 1) Total tax revenue collected (per capita & gross)

    li.methodology__sources-list-item
      | 2) Corporate income tax revenue

    li.methodology__sources-list-item
      | 3) Selected government expenditure, by category:
      ul.methodology__sources-sub-list
        li.methodology__sources-sublist-item
          | Education

        li.methodology__sources-sublist-item
          | Health & Hospitals

        li.methodology__sources-sublist-item
          | Employment Security Admin

        li.methodology__sources-sublist-item
          | Highway & Parking Facilities

        li.methodology__sources-sublist-item
          | Utilities

        li.methodology__sources-sublist-item
          | Unemployment & Workers Comp

        li.methodology__sources-sublist-item
          | Sewer & Waste Management

        li.methodology__sources-sublist-item
          | Public Welfare

        li.methodology__sources-sublist-item
          | Police & Fire Protection

        li.methodology__sources-sublist-item
          | Parks & Recreation

        li.methodology__sources-sublist-item
          | Cash Assistance Programs

        li.methodology__sources-sublist-item
          | Transit

    li.methodology__sources-list-item
      | 4) Fees & Charges for First column above, plus Health & Hospitals and Utilities

    li.methodology__sources-list-item
      | 5) Government assets, securities, and trust funds

    li.methodology__sources-list-item
      | 6) Population and Average Per Capita Income


.methodology__sources
  h3.methodology__sources-title
    | Sources Data

  p.methodology__text-item
    | Survey of State and Local Government Finances, Census Bureau. Most recent Data Released September-October 2017. Previous data set released in 2012. Data set includes state and local revenue/spending both as separate totals and combined. This report utilizes the combined state+local totals to calculate statewide averages.
