h2.section__title A Note on Method
.note__content
  p.note__text
    | To accurately rate and rank all fifty states on an even playing field, we needed accurately quantify the value that you receive from governmental spending, in relation to the various taxes and charges paid by you, the taxpayer. To do this, we first calculated how much on average each state spends on each taxpayer, including expenditures on infrastructure and/or services that are partially funded by additional charges (like highways and public utilities), and then calculated the average amount of tax revenue collected from residents on a per capita basis (i.e. excluding corporate income tax revenues).

  p.note__text
    | We then calculated the difference between these two figures, and found that all but one state spends more per capita than it receives in taxes. We expressed this amount in terms of a percentage of the state’s average per capita income, and ranked the states from highest to lowest.

  p.note__text
    | While most of the states that rank in the top ten according to this metric have among the highest per capita expenditures, regardless of whether these are entirely financed by tax funds, the same is true of those at the bottom of our list. Generally speaking, value correlates with the percentage of all government revenues accounted for by taxes: the more the state relies on taxes to fund services, the lower the overall value.
