.upper__content
  .upper__pic
    picture
      source(media='(max-width: 779px)', srcset='images/photo/main-icon.png, images/photo/main-icon@2x.png 2x')
      img(src='images/photo/main-icon.png', srcset='images/photo/main-icon@2x.png 2x')

  p.upper__text-under-title
    | Taxes are a necessary and unpleasant reality. No one wishes to hand over more of their hard-earned money to the government of their state, city, county, or country than they must. Yet it is all too easy to overlook the fact that the federal, state and local governments use tax revenues in ways that directly or indirectly benefit you, the taxpayer.

  p.upper__text-under-title.upper__text-under-title--last
    | Taxes do not disappear into a bureaucratic black hole, but rather help pay for valuable government operated or administered services, and to invest in infrastructure, public safety, and essential social safety-net programs, such as unemployment insurance and workers’ compensation, that tend to get taken for granted by many of us. In order to have lower taxes, citizens must sacrifice some of these, or else pay more in fees and charges, such as highway tolls, tuition at state universities and community colleges, utility bills, and so forth.

  p.upper__text-main
    | The best deal is not always the one that costs least. And so, we analyzed the Census Bureau’s most recent Survey of State and Local Finances, in order to clearly answer the questions: where do you get the most bang for your tax buck? Where do you get the worst return on your investment in your state and local government?
