button
  font-family: Whitney SSm A, sans-serif

.btn__container
  display: flex
  justify-content: center
  margin-top: 32px

  +respond-to($xsmall)
    margin: 4px 12px 0 12px

.btn-container.btn-container--under-table
  margin-top: 32px
  +respond-from($large)
    margin-top: 42px

.btn__main
  display: inline-block
  font-size: 12px
  line-height: 26px
  font-weight: 600
  color: #63a862
  text-transform: uppercase
  border-radius: 5px
  padding: 14px 24px
  border: 1px solid $color-green
  cursor: pointer
  box-sizing: border-box
  transition: .25s ease-out
  background: $color-white

  .btn__main-text
    border-bottom: 1px solid rgba(119, 190, 118, .5)

  &:after
    content: ''
    display: inline-block
    position: relative
    top: 4px
    width: 20px
    height: 20px
    margin-left: 10px
    background: url('images/icons/btn-icon.svg') center no-repeat

    +respond-to($xsmall)
      display: none

  &:hover
    background: #63a862
    color: $color-white
    border: 1px solid $color-white
    &:after
      background: url('images/icons/btn-icon-hover.svg') center no-repeat
    .btn__main-text
      border-bottom: 1px solid transparent

  +respond-to($xsmall)
    width: 100%
    max-width: 300px
    display: block
    padding: 10px 12px
    font-size: 10px
    text-align: center
    margin-top: 12px

.btn__container--yellow
  .btn__main
    color: #efa630
    border: 1px solid $color-yellow
    background: #ffffff

    .btn__main-text
      border-bottom: 1px solid rgba(239, 166, 48, .4)

    &:after
      background: url('images/icons/btn-icon-yellow.svg') center no-repeat

    &:hover
      background: #efa630
      color: $color-white
      border: 1px solid $color-white
      &:after
        background: url('images/icons/btn-icon-hover.svg') center no-repeat
      .btn__main-text
        border-bottom: 1px solid transparent

