doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
  title Full State Ranking

body
  .page__wrap
    include ./partials/header.jade

    article.main-article
      .content

        include ./partials/full-table.jade

    include ./partials/footer.jade

  script(inline='', src='js/script.min.js')
